name: Flutter Build

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Java'yı açıkça kurup yolunu belirliyoruz
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Flutter Setup
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Get Packages
        run: flutter pub get

      - name: Build APK
        # JAVA_HOME değişkenini bu adımda açıkça tanımlıyoruz
        run: flutter build apk --debug
        env:
          JAVA_HOME: ${{ env.JAVA_HOME_17_X64 }}

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: flutter-debug-apk
          path: build/app/outputs/flutter-apk/*.apk
